# Cartera

## Objetivo:
Identificar si un registro necesita gestión de cobro con mora a mayor de 30 días

## Necesidad:
Poder tomar acciones tempranas y realizar las respectivas gestiones a los registros que necesitarán dado una predicción de mora de 30 días. Esto con el objetivo de reducir costos además de evitar la reducción de liquidez

## Análisis de información 
Se realizará limpieza de los datos que fueron suministrados. 
1. Comportamiento variables consignadas en la base de datos 
2. Encontrar relaciones entre ellas
3. Evolución a través del tiempo

In [9]:
# Modulos escritos
from connect_database import connect

# Librerias 
import pyodbc
import pandas as pd

Se hace la lectura de la base de datos utilizando el módulo _connect_ que se encuentra escrito dentro del archivo __connect_database.py__. Con esto se establece la conexión a las bases guardadas en azure. A continuación se listan las bases a las cuales se quiere hacer la conexión

In [11]:
server   = "carterasvr.database.windows.net"
database = "cartera"
username = "consulta"
password = "D4t4b1z2.123"

# Se establece la conexión 
cnxn = connect(server, database, username, password)

Petición SQL a la base de datos. Se almacena dentro de un marco de datos de Pandas

In [8]:
sql = ("""SELECT HIST_CARTERA.*, REGIONES.ID_REGION_NATURAL, REGIONES.NOMBRE AS REGION
FROM HIST_CARTERA LEFT JOIN
     (SELECT DIM_GEOGRAFIA.ID_GEOGRAFIA, DIM_GEOGRAFIA.ID_REGION_NATURAL, DRN.NOMBRE
FROM DIM_GEOGRAFIA
LEFT JOIN DIM_REGION_NATURAL DRN on DIM_GEOGRAFIA.ID_REGION_NATURAL = DRN.ID_REGION_NATURAL) REGIONES
ON HIST_CARTERA.ID_GEOGRAFIA = REGIONES.ID_GEOGRAFIA""")

data = pd.read_sql(sql, cnxn)
data.head(5)

,ID_FECHA_CONSULTADA,ANIO_CARTERA,MES_CARTERA,ANIOMES_CARTERA,NUMERO_CONTRATO,TIPO_IDENTIFICACION,IDENTIFICACION,SEXO,INGRESO,REPUTACION_CLIENTE,...,MAXIMA_EDAD_MORA_CONTRATO,CANTIDAD_FACTURAS,CANTIDAD_FACTURAS_CON_MORA,FECHA_REGISTRO_CARTERA,FECHA_COBRO,FECHA_PAGO,FECHA_RECAUDO,ID_CONTRATO,ID_CLIENTE,ID_GEOGRAFIA
0,20181201.0,2018,11,201811,296464437317,5,45881434,F,5635859.0,2.0,...,1.0,75,0.0,2018-11-23,2018-12-08,2018-11-23,2018-11-24,11185.0,3782.0,73686.0
1,20181201.0,2018,11,201811,746836199757,2,46086901,M,2608671.0,1.0,...,1.0,6,0.0,2018-11-23,2018-12-08,2018-11-27,2018-11-28,8491.0,10496.0,41298.0
2,20181201.0,2018,11,201811,266440236752,5,609299,M,3411773.0,5.0,...,1.0,28,0.0,2018-11-23,2018-12-08,2018-11-29,2018-11-30,7536.0,820.0,91530.0
3,20181201.0,2018,11,201811,993063087168,1,5226431,M,1964334.0,1.0,...,1.0,21,0.0,2018-11-23,2018-12-08,2018-11-28,2018-11-29,7191.0,3166.0,5154.0
4,20181201.0,2018,11,201811,560026381993,1,12078288,M,5796349.0,2.0,...,1.0,16,0.0,2018-11-23,2018-12-08,2018-11-29,2018-11-30,12692.0,13483.0,68211.0

In [15]:
data["ID_FECHA_CONSULTADA"].astype("int").astype("str")

0         20181201
1         20181201
2         20181201
3         20181201
4         20181201
            ...
182774    20150801
182775    20150801
182776    20150801
182777    20150801
182778    20150801
Name: ID_FECHA_CONSULTADA, Length: 182779, dtype: object